/* classes */
.lilez {
    border-left: 3px solid #2412B2;
    padding-left: 6px;
}
.liexe {
    border-left: 3px solid #1B960F;
    padding-left: 6px;
}
.lilab {
    border-left: 3px solid #E1536A;
    padding-left: 6px;
}

.gridplan{
  display: table;
  width: 100%;
  border-spacing:.5em;
}

.planentry{display: table-row;}
 .day {
 	font-size: 0.9rem;
    padding:0.5em;
    width:10%;
    display:table-cell;
  }
 .topic, .detail {
 	font-size: 0.9rem;
    padding:0.5em;
    width:30%;
    display:table-cell;
  }
 .detail {
    width:50%;
  }
 .ico {
 	padding-top: 0.3em;
 }

 .fright {
 	float: right;
 }
