<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h4 class="modal-title text-primary">Attivit&agrave; {{aacorso}}-{{(aacorso+1).toString() | slice:2:4}}</h4>
    </div>    
  </div>
  <div class="row">
    <div class="col-10">
            <p><span class='text-primary'>lezione</span>
              &#11046; <span class='text-success'>esercitazione</span>
              &#11046; <span class='text-info'>laboratorio</span>
              &#11046; <span class='text-warning'>analisi esercizi</span>
              &#11046; <span class='text-secondary'>esame</span>
              &#11046; <span class='text-danger'>sospensione</span>&nbsp;&nbsp;&nbsp;
            </p>
    </div>
    <div class="col-2">
            <p>
                    <i class="far fa-plus-square"></i>&nbsp;&nbsp;nuova attivit&agrave;
            </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
            <p><i class="far fa-user-circle"></i> CB&nbsp;&nbsp;
                <i class="fas fa-user-circle"></i> TA&nbsp;&nbsp;
            </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
              <table class="table table-sm">
              <thead>
              <tr>
                <th scope="col">data</th>
                <th scope="col" width="380px">argomento</th>
                <th scope="col" width="550px">dettaglio</th>
                <th scope="col" width="40px">ore</th>
                <th scope="col" width="40px">chi</th>
                <th scope="col" colspan="2">modifica</th>
                <!--th scope="col">&nbsp;</th-->
              </tr>
            </thead>
            <tbody>
               <tr *ngFor="let a of attivita; let i = index" [class.active]="i == currentIndex">
                  <td class="day {{a.classe}}">{{a.data | date:'dd&nbsp;MMM&nbsp;yyyy'}}</td>
                  <td class='topic {{a.classe}}' [innerHtml]="a.titolo"></td>
                  <td class='detail {{a.classe}}'[innerHtml]="a.argomento"></td>
                  <td class='{{a.classe}}'>{{a.ore}}</td>
                  <td class='ico'><i class="{{a.chi}}"></i></td>
                  <td>
                    <button class="btn btn-sm btn-outline-secondary" (click)="editAttivita(i, eventmodal)"><i class="far fa-edit"></i></button></td>
                  <td><button class="btn btn-sm btn-outline-secondary" (click)="deleteAttivita(i)"><i class="far fa-trash-alt"></i></button></td>
                </tr>
              </tbody>
            </table><!-- chiude css-grid-table --> 
    </div>
  </div>
</div>
