body {
  scroll-behavior: smooth;
}

/**
 * Bootstrap "Journal code" icon
 * @link https://icons.getbootstrap.com/icons/journal-code/
 */
.bd-heading a::before {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: .25rem;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%25230d6efd' viewBox='0 0 16 16'%3E%3Cpath d='M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1H2a2 2 0 0 1 2-2z'/%3E%3Cpath d='M2 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2z'/%3E%3Cpath fill-rule='evenodd' d='M8.646 5.646a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 8 8.646 6.354a.5.5 0 0 1 0-.708zm-1.292 0a.5.5 0 0 0-.708 0l-2 2a.5.5 0 0 0 0 .708l2 2a.5.5 0 0 0 .708-.708L5.707 8l1.647-1.646a.5.5 0 0 0 0-.708z'/%3E%3C/svg%3E");
  background-size: 1em;
}

/* stylelint-disable-next-line selector-max-universal */
.bd-heading + div > * + * {
  margin-top: 3rem;
}

/* Table of contents */
.bd-aside a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: .3125rem;
  color: rgba(0, 0, 0, .65);
  text-decoration: none;
}

.bd-aside a:hover,
.bd-aside a:focus {
  color: rgba(0, 0, 0, .85);
  background-color: rgba(121, 82, 179, .1);
}

.bd-aside .active {
  font-weight: 600;
  color: rgba(0, 0, 0, .85);
}

.bd-aside .btn {
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  border: 0;
}

.bd-aside .btn:hover,
.bd-aside .btn:focus {
  color: rgba(0, 0, 0, .85);
  background-color: rgba(121, 82, 179, .1);
}

.bd-aside .btn:focus {
  box-shadow: 0 0 0 1px rgba(121, 82, 179, .7);
}

.bd-aside .btn::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.bd-aside .btn[aria-expanded="true"]::before {
  transform: rotate(90deg)/* rtl:ignore */;
}


/* Examples */
.scrollspy-example {
  position: relative;
  height: 200px;
  margin-top: .5rem;
  overflow: auto;
}

/* Layout */
@media (min-width: 1200px) {
  body {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 9fr 1fr;
    grid-template-rows: auto;
  }

  app-root {
    display: inherit;
  }

  .bd-header {
    display: inherit; /* 1 */
    position: fixed;
    top: 0;
    /* rtl:begin:ignore */
    right: 0;
    left: 0;
    /* rtl:end:ignore */
    z-index: 1030;
    grid-column: 1 / span 2;
  }

  .bd-spacer,
  .bd-aside {
    padding-top: 4rem;
  }

  .bd-cheatsheet {
    padding-top: 8rem;
  }

  /**
   * 1. Too bad only Firefox supports subgrids ATM
   */
  .bd-cheatsheet,
  .bd-cheatsheet section,
  .bd-cheatsheet article {
    display: inherit; /* 1 */
    gap: inherit; /* 1 */
    grid-template-columns: 9fr;
    grid-area: 1 / 1;
    grid-template-rows: auto;
  }

  .bd-spacer {
    position: fixed;
    grid-area: 1 / 1;
    scroll-margin-top: 4rem;
    padding-left: 4rem;
    z-index: 1030;
  }

  .bd-aside {
/*    display: inherit; /* 1 */
    grid-area: 1 / 2 / span 2 / span 2;
    scroll-margin-top: 4rem;
  }

  .bd-cheatsheet section,
  .bd-cheatsheet section > h2 {
    top: 2rem;
    scroll-margin-top: 2rem;
  }

  .bd-cheatsheet section > h2::before {
    position: absolute;
    /* rtl:begin:ignore */
    top: 0;
    right: 0;
    bottom: -2rem;
    left: 0;
    /* rtl:end:ignore */
    z-index: -1;
    content: "";
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) calc(100% - 3rem), rgba(255, 255, 255, .01));
  }

  .bd-cheatsheet article,
  .bd-cheatsheet .bd-heading {
    top: 8rem;
    scroll-margin-top: 8rem;
  }

  .bd-cheatsheet .bd-heading {
    z-index: 1;
  }
}

/*--------------------------------------------------------------
3.0 Alignments
--------------------------------------------------------------*/

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
4.0 Clearings
--------------------------------------------------------------*/

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.entry-footer:before,
.entry-footer:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after,
.nav-links:before,
.nav-links:after,
.pagination:before,
.pagination:after,
.comment-author:before,
.comment-author:after,
.widget-area:before,
.widget-area:after,
.widget:before,
.widget:after,
.comment-meta:before,
.comment-meta:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.entry-footer:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after,
.nav-links:after,
.pagination:after,
.comment-author:after,
.widget-area:after,
.widget:after,
.comment-meta:after {
	clear: both;
}

/*--------------------------------------------------------------
5.0 Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	font-family: "Raleway", "Lato", "Open Sans", sans-serif;
	font-size: 16px;
	font-size: 1.1rem;
	font-weight: 400;
	line-height: 1.4;
    color: #232425;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5 {
	clear: both;
	line-height: 1.4;
	margin: 0 0 0.35em;
	padding: 1em 0 0;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
	padding-top: 0;
}

h1 {
	color: #666;
	font-size: 36px;
	font-size: 2rem;
	font-weight: 400;
}

h2 {
	color: #333;
	font-size: 24px;
	font-size: 1.5rem;
	font-weight: 300;
}

h1 + h2 {
	margin-top: -1.5em;
}

h3 {
	color: #333;
	font-size: 20px;
	font-size: 1.2rem;
	font-weight: 800;
}

h4 {
	color: #767676;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 800;
}

h5 {
	color: #333;
	font-size: 15px;
	font-size: 0.9375rem;
	font-weight: 800;
}

h4 + h5 {
	margin-top: -1.5em;
}


p {
	margin: 0 0 0.5em;
	padding: 0;
}

/* navigation */

.navbar-apres{
	border-bottom: 1px solid #dadada;
	padding-top: 20px;
	background: #fff;
}

.navbar-apres {
    text-align: center;
    height: 70px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    z-index: 150;
}

/* code */
pre {
  margin: 1em 0;
}

.hljs {
  display: block; padding: 1em;
  background: #f1f1f1; color: #000;
}

.hljs-keyword,
.hljs-title,
.hljs-name {
  color: #393e46;
}

.hljs-string,
.hljs-literal {
  color: #F77;
}

.hljs-comment {
    color: #766;
}

.formattedHtml {
	padding: 1em;
	padding-bottom: 2em;
	background: #f1f1f1;
}


/* table elements */
.tabblue {
    border-left: 3px solid #2412B2;
    padding-left: 6px;
}
.tabgreen {
    border-left: 3px solid #1B960F;
    padding-left: 6px;
}
.tabbluegreen {
    border-left: 3px solid #E1536A;
    padding-left: 6px;
}

.tabbluegreen {
    border-left: 3px solid #E1536A;
    padding-left: 6px;
}

header {
  background-color: #a7c5eb;
}

a {
  color: #07689f;
}
