<div class="container">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h3>Aggiorna esercizio</h3>
  </div>

<div class="row justify-content-center mt-5">
    <div class="col-md-12">
        <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
          <div class="form-group">
            <label>Titolo</label>
            <input class="form-control" type="text" formControlName="titolo" required>
          </div>

          <div class="form-group">
            <label>Testo</label>
            <textarea cols="40" rows="10" class="form-control" formControlName="testo" required></textarea>
          </div>

          <div class="formattedHtml">
            <div [innerHtml]="esercizioTesto"></div>
          </div>

          <div><br/><br/>
          </div>
          <div class="form-group">
            <label>Argomenti (separati da spazi, - per multiparole)</label>
            <input class="form-control" type="text" formControlName="argomento" required>
          </div>

          <div class="form-group">
            <label>Colore</label>
            <input formControlName="colore" [(colorPicker)]="color" [style.background]="esercizioColore"/>
            <!--input class="form-control" type="text" formControlName="colore" required-->
          </div>

          <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">Aggiorna</button>
          </div>
        </form>
    </div>
  </div>

</div>
